body {
    font: 1.2em / 1.5 sans-serif;
    padding: 0;
}
ul {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: auto;
}

li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  flex: 1;
}

li:nth-of-type(1) {
    flex: 3;
}