.box {
    text-align: center;
    font-family: "Tahoma", sans-serif;
    font-size: 40px;
    width: 100px;
    line-height: 100px;
    aspect-ratio: 1 / 1;
    
    border-top: 1px solid black;
    margin: 4px auto 0;
}
.box:nth-child(odd) {
    background-color: #dfe1e7;
}
.box:nth-child(even) {
    background-color: #eeeff2;
}