body {
  font-family: sans-serif;
}
.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}
.container {
    display:grid;
    /* grid with fixed track */
    /* grid-template-columns: 200px 200px 200px; */

    /* grid with flexible track */
    /* grid-template-columns: 2fr 1fr 1fr;  */
    
    /* gap between rows and between columns in a grid*/
    gap: 20px; 

    /* repeat column with 1fr wide 3 times */
    /* grid-template-columns: repeat(3, 1fr); */

    /* repeat as many columns as the space allows, with a minimum width of 100px and being able to expand */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    grid-auto-rows: minmax(50px, auto);
}