#layout {
    display: grid;
    grid-template-rows: 3em 20px [main-start] 150px auto 5em [main-end];
    grid-template-columns: [main-start] 1fr [main-end] repeat(3, 20px 150px);
}
nav {
    grid-area: 1 / 1 / 2 / 8;
}
#figA {
    grid-area: 3 / 3 / 4 / 4;
}
#figB {
    grid-area: 3 / 5 / 4 / 6;
}
#figC {
    grid-area: 3 / span 1 / 4 / -1;
}
main {
    grid-area: main-start / main-start / main-end / main-end;
}
footer {
    grid-area: 5 / 3 / 6 / -1;
}