/* YOUR STYLE GOES IN HERE */

li {
    color: blue;
}

.done {
    color: grey;
}
button#clear {
    color: white;
    background-color: red;
}
#clear {
    color: white;
    background-color: red;
}