/* YOUR STYLE GOES IN HERE */

/* Element selector li */
li {
    color: blue;
}

/* Class selector .done */
.done {
    color: grey;
}

/* ID selector #clear */
#clear {
    color: white;
    background-color: red;
}