#grid-container {
    width: 80%;
    display: grid;
    grid: repeat(2, 300px) / repeat(auto-fill, 300px);
    gap: 6px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
    background: #e7e0e0d9; /* white with a little transparency */
    box-shadow: 0 8px 24px rgba(0,0,0,.1);
}
li {
    text-decoration: none;
    list-style: none;
   
}
li > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    height:auto;
    object-fit: cover;
}