body {
  background-color: #f8f9fa;
}
h1 {
  text-align: center;
}

.gameboard {
  max-width: 360px; /* nice centered square board */
  aspect-ratio: 1 / 1;
  display: flex;
  flex-flow: row wrap;
  margin: 10% auto;
  gap: 1px;
}
.cell {            
  width: calc(99% / 3);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #037df7;
  color: white;
  transition: background 0.6s;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover {
  background-color: #0369cf;
  cursor: pointer;
}
.cell-empty {
  background-color: transparent;
  border: 1px dashed #ccc;
  color: transparent;
}
.win {
  color: red;
  text-align: center;
  font-size: 3rem;
}