@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(51, 34, 34);
    padding-top: 40px;
}
hr {
    border: 2px solid rgba(56, 4, 4, 0.7);
    width: 100px;
}
article {
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-transform: uppercase;
    border-left: 4px solid rgba(56, 4, 4, 0.7);
    padding-left: 40px;
}

blockquote {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

p::before {
    content: '☆';
    font-family: "Cinzel", serif;
    font-size: 30px;
    color:rgba(56, 4, 4, 0.2);
}